@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   @apply w-full h-full;
}
body {
   @apply h-full w-full overflow-x-hidden;
}

input,
textarea {
   @apply outline-none;
}
input:focus,
textarea:focus {
   @apply outline-none;
}

.ProseMirror:focus {
   outline: none;
}

.bold {
   @apply font-bold;
}

.strikethrough {
   @apply line-through;
}

.code {
   @apply rounded px-1 bg-label;
}
h1 {
   @apply text-[2em] #{!important};
}

.main-block {
   @apply pt-[22px] xl:pl-[50px];
}
/* .main-icon {
   @apply xl:w-[18px] xl:h-[18px] w-4 h-4;
} */
